In [1]:
import pandas as pd

In [6]:
pip install nltk

Collecting nltkNote: you may need to restart the kernel to use updated packages.

  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
      --------------------------------------- 0.0/1.5 MB 1.3 MB/s eta 0:00:02
     - -------------------------------------- 0.1/1.5 MB 787.7 kB/s eta 0:00:02
     -- ------------------------------------- 0.1/1.5 MB 930.9 kB/s eta 0:00:02
     ------- -------------------------------- 0.3/1.5 MB 1.6 MB/s eta 0:00:01
     ----------- ---------------------------- 0.4/1.5 MB 2.1 MB/s eta 0:00:01
     ---------------- ----------------------- 0.6/1.5 MB 2.3 MB/s eta 0:00:01
     -------------------- ------------------- 0.8/1.5 MB 2.5 MB/s eta 0:00:01
     -------------------------- ------------- 1.0/1.5 MB 2.7 MB/s eta 0:00:01
     ------------------------------ --------- 1.2/1.5 MB 2.8 MB/s eta 0:00:01
     ---------------------------------- ----- 1.3/1.5 MB 2.9 MB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 2.9 MB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 2.8 MB/s eta 0:00:00
Requirement already satisfied: click in c:\users\arulkumar\appdata\local\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\arulkumar\appdata\local\anaconda3\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Obtaining dependency information for regex>=2021.8.3 from https://files.pythonhosted.org/packages/33/03/91c9509b43154795fb848a4cf8cef5b37302b3b3ccf8a9763046ea528c6b/regex-2023.10.3-cp310-cp310-win_amd64.whl.metadata
  Downloading regex-2023.10.3-cp310-cp310-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ---------------------------------------- 42.0/42.0 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\arulkumar\appdata\local\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\arulkumar\appdata\local\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Downloading regex-2023.10.3-cp310-cp310-win_amd64.whl (269 kB)
   ---------------------------------------- 0.0/269.6 kB ? eta -:--:--
   ---------------------------- ----------- 194.6/269.6 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 269.6/269.6 kB 4.2 MB/s eta 0:00:00
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.10.3

In [2]:
data = pd.read_csv(r"C:\Users\arulkumar\Desktop\MLGuvi\Guvi_final\twitter_new.csv",encoding="latin-1",header=0,names=["target","id","date","flag","user","text"],error_bad_lines=False, engine="python")

C:\Users\arulkumar\AppData\Local\Temp\ipykernel_2280\1748901219.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(r"C:\Users\arulkumar\Desktop\MLGuvi\Guvi_final\twitter_new.csv",encoding="latin-1",header=0,names=["target","id","date","flag","user","text"],error_bad_lines=False, engine="python")

In [3]:
data.dropna(inplace=True)

In [4]:
data.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [7]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')

In [8]:
#getting rid of stop words
cv = CountVectorizer(stop_words='english',ngram_range = (1,3),tokenizer = token.tokenize)
text_counts = cv.fit_transform(data["text"])

C:\Users\arulkumar\AppData\Local\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(text_counts, data["target"], test_size=0.25, random_state=5)

In [10]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,precision_score
from sklearn.metrics import classification_report
from sklearn.naive_bayes import MultinomialNB
classifier= MultinomialNB()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)

Confusion Matrix:
[[160645  39235]
 [ 49464 150656]]

In [11]:
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)

Classification Report:
              precision    recall  f1-score   support

           0       0.76      0.80      0.78    199880
           4       0.79      0.75      0.77    200120

    accuracy                           0.78    400000
   macro avg       0.78      0.78      0.78    400000
weighted avg       0.78      0.78      0.78    400000

In [12]:
from sklearn import metrics
predicted = classifier.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)

print("Accuracy:",accuracy_score)

Accuracy: 0.7782525